* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#grandParent {
  height: 350px;
  width: 500px;
  background: #000;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.text_red {
  color: red;
}
.bg_red {
  background: red;
}

.bg_white {
  background: #fff;
}
.text_white {
  color: #fff;
}
.bg_purple {
  background: purple;
}
.text_purple {
  color: purple;
}
