* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#grandParent {
  height: 350px;
  width: 500px;
  background: #000;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
.parent {
  height: 150px;
  width: 450px;
  background: teal;
  margin: 10px auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.child {
  background: green;
  flex-basis: 30%;
  color: #fff;
  border: 3px solid rgb(156, 60, 60);
}
.child2 {
  background: tomato;
}
.child22 {
  background: orange;
  padding: 5px;
}

.child22_c {
  height: 30px;
  width: 100%;
  background: olive;
  margin: 5px 0;
}
.child22_2 {
  background: teal;
}
