* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
  height: 100vh;
  background: teal;
  color: #fff;
}

#typing {
  position: relative;
}
#typing:after {
  content: "";
  position: absolute;
  border-right: 2px solid #fff;
  width: 5px;
  height: 100%;
  right: -5px;
  top: 0;
  bottom: 0;
  animation: blink 0.5s ease infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
